Demo Power App/pkgs/Wadl/NHS_DoHS_API_Connector.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/nhs-5fdohs-5fapi-5fcd50f11fb408e582-5f2a291c2c40cf4dbc" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="NHS_DoHS_API" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="NHS_DoHS_API">This Power Connector provides access to the NHS Directory of Healthcare Services API - version 3, using the Integration test environment.</doc>
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/nhs-5fdohs-5fapi-5fcd50f11fb408e582-5f2a291c2c40cf4dbc" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="GetOrganisationTypes_responses_default_def__ux40_odata_context_def" />
      <integer name="GetOrganisationTypes_responses_default_def_value_def_items_def__ux40_search_score_def" />
      <string name="GetOrganisationTypes_responses_default_def_value_def_items_def_OrganisationTypeID_def" />
      <string name="GetOrganisationTypes_responses_default_def_value_def_items_def_OrganisationTypeName_def" />
      <boolean name="GetOrganisationTypes_responses_default_def_value_def_items_def_IsDeleted_def" />
      <string name="GetOrganisationTypes_responses_default_def_value_def_items_def_DisplayName_def" />
      <object name="GetOrganisationTypes_responses_default_def_value_def_items_def">
        <property name="@search.score" type="integer" />
        <property name="OrganisationTypeID" type="string" />
        <property name="OrganisationTypeName" type="string" />
        <property name="IsDeleted" type="boolean" />
        <property name="DisplayName" type="string" />
      </object>
      <array typeRef="GetOrganisationTypes_responses_default_def_value_def_items_def" name="GetOrganisationTypes_responses_default_def_value_def" />
      <object name="GetOrganisationTypes_responses_default_def">
        <property name="@odata.context" type="string" />
        <property name="value" typeRef="GetOrganisationTypes_responses_default_def_value_def" />
      </object>
      <string name="GetOrganisations_responses_default_def__ux40_odata_context_def" />
      <integer name="GetOrganisations_responses_default_def__ux40_odata_count_def" />
      <integer name="GetOrganisations_responses_default_def_value_def_items_def__ux40_search_score_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_SearchKey_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_ODSCode_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_OrganisationName_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_OrganisationTypeId_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_OrganisationType_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_OrganisationStatus_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_SummaryText_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_URL_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Address1_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Address2_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Address3_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_City_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_County_def" />
      <number name="GetOrganisations_responses_default_def_value_def_items_def_Latitude_def" />
      <number name="GetOrganisations_responses_default_def_value_def_items_def_Longitude_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Postcode_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Geocode_def_type_def" />
      <number name="GetOrganisations_responses_default_def_value_def_items_def_Geocode_def_coordinates_def_items_def" />
      <array type="number" name="GetOrganisations_responses_default_def_value_def_items_def_Geocode_def_coordinates_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Geocode_def_crs_def_type_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Geocode_def_crs_def_properties_def_name_def" />
      <object name="GetOrganisations_responses_default_def_value_def_items_def_Geocode_def_crs_def_properties_def">
        <property name="name" type="string" />
      </object>
      <object name="GetOrganisations_responses_default_def_value_def_items_def_Geocode_def_crs_def">
        <property name="type" type="string" />
        <property name="properties" typeRef="GetOrganisations_responses_default_def_value_def_items_def_Geocode_def_crs_def_properties_def" />
      </object>
      <object name="GetOrganisations_responses_default_def_value_def_items_def_Geocode_def">
        <property name="type" type="string" />
        <property name="coordinates" typeRef="GetOrganisations_responses_default_def_value_def_items_def_Geocode_def_coordinates_def" />
        <property name="crs" typeRef="GetOrganisations_responses_default_def_value_def_items_def_Geocode_def_crs_def" />
      </object>
      <string name="GetOrganisations_responses_default_def_value_def_items_def_OrganisationSubType_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_OrganisationAliases_def_items_def_OrganisationAlias_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_OrganisationAliases_def_items_def_OrganisationAliasId_def" />
      <object name="GetOrganisations_responses_default_def_value_def_items_def_OrganisationAliases_def_items_def">
        <property name="OrganisationAlias" type="string" />
        <property name="OrganisationAliasId" type="string" />
      </object>
      <array typeRef="GetOrganisations_responses_default_def_value_def_items_def_OrganisationAliases_def_items_def" name="GetOrganisations_responses_default_def_value_def_items_def_OrganisationAliases_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_ParentOrganisation_def_ODSCode_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_ParentOrganisation_def_OrganisationName_def" />
      <object name="GetOrganisations_responses_default_def_value_def_items_def_ParentOrganisation_def">
        <property name="ODSCode" type="string" />
        <property name="OrganisationName" type="string" />
      </object>
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_ServiceName_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_ServiceCode_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_ServiceDescription_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_Contacts_def_items_def_ContactType_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_Contacts_def_items_def_ContactAvailabilityType_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_Contacts_def_items_def_ContactMethodType_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_Contacts_def_items_def_ContactValue_def" />
      <object name="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_Contacts_def_items_def">
        <property name="ContactType" type="string" />
        <property name="ContactAvailabilityType" type="string" />
        <property name="ContactMethodType" type="string" />
        <property name="ContactValue" type="string" />
      </object>
      <array typeRef="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_Contacts_def_items_def" name="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_Contacts_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_ServiceProvider_def_ODSCode_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_ServiceProvider_def_OrganisationName_def" />
      <object name="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_ServiceProvider_def">
        <property name="ODSCode" type="string" />
        <property name="OrganisationName" type="string" />
      </object>
      <untypedObject name="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_Treatments_def_items_def" />
      <array typeRef="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_Treatments_def_items_def" name="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_Treatments_def" />
      <untypedObject name="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_OpeningTimes_def_items_def" />
      <array typeRef="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_OpeningTimes_def_items_def" name="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_OpeningTimes_def" />
      <untypedObject name="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_AgeRange_def_items_def" />
      <array typeRef="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_AgeRange_def_items_def" name="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_AgeRange_def" />
      <untypedObject name="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_Metrics_def_items_def" />
      <array typeRef="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_Metrics_def_items_def" name="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_Metrics_def" />
      <untypedObject name="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_KeyValueData_def_items_def" />
      <array typeRef="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_KeyValueData_def_items_def" name="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_KeyValueData_def" />
      <object name="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def">
        <property name="ServiceName" type="string" />
        <property name="ServiceCode" type="string" />
        <property name="ServiceDescription" type="string" />
        <property name="Contacts" typeRef="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_Contacts_def" />
        <property name="ServiceProvider" typeRef="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_ServiceProvider_def" />
        <property name="Treatments" typeRef="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_Treatments_def" />
        <property name="OpeningTimes" typeRef="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_OpeningTimes_def" />
        <property name="AgeRange" typeRef="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_AgeRange_def" />
        <property name="Metrics" typeRef="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_Metrics_def" />
        <property name="KeyValueData" typeRef="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def_KeyValueData_def" />
      </object>
      <array typeRef="GetOrganisations_responses_default_def_value_def_items_def_Services_def_items_def" name="GetOrganisations_responses_default_def_value_def_items_def_Services_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_OpeningTimes_def_items_def_Weekday_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_OpeningTimes_def_items_def_OpeningTime_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_OpeningTimes_def_items_def_ClosingTime_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_OpeningTimes_def_items_def_Times_def" />
      <integer name="GetOrganisations_responses_default_def_value_def_items_def_OpeningTimes_def_items_def_OffsetOpeningTime_def" />
      <integer name="GetOrganisations_responses_default_def_value_def_items_def_OpeningTimes_def_items_def_OffsetClosingTime_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_OpeningTimes_def_items_def_OpeningTimeType_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_OpeningTimes_def_items_def_AdditionalOpeningDate_def" />
      <boolean name="GetOrganisations_responses_default_def_value_def_items_def_OpeningTimes_def_items_def_IsOpen_def" />
      <object name="GetOrganisations_responses_default_def_value_def_items_def_OpeningTimes_def_items_def">
        <property name="Weekday" type="string" />
        <property name="OpeningTime" type="string" />
        <property name="ClosingTime" type="string" />
        <property name="Times" type="string" />
        <property name="OffsetOpeningTime" type="integer" />
        <property name="OffsetClosingTime" type="integer" />
        <property name="OpeningTimeType" type="string" />
        <property name="AdditionalOpeningDate" type="string" />
        <property name="IsOpen" type="boolean" />
      </object>
      <array typeRef="GetOrganisations_responses_default_def_value_def_items_def_OpeningTimes_def_items_def" name="GetOrganisations_responses_default_def_value_def_items_def_OpeningTimes_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Contacts_def_items_def_ContactType_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Contacts_def_items_def_ContactAvailabilityType_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Contacts_def_items_def_ContactMethodType_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Contacts_def_items_def_ContactValue_def" />
      <object name="GetOrganisations_responses_default_def_value_def_items_def_Contacts_def_items_def">
        <property name="ContactType" type="string" />
        <property name="ContactAvailabilityType" type="string" />
        <property name="ContactMethodType" type="string" />
        <property name="ContactValue" type="string" />
      </object>
      <array typeRef="GetOrganisations_responses_default_def_value_def_items_def_Contacts_def_items_def" name="GetOrganisations_responses_default_def_value_def_items_def_Contacts_def" />
      <integer name="GetOrganisations_responses_default_def_value_def_items_def_Facilities_def_items_def_Id_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Facilities_def_items_def_Name_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Facilities_def_items_def_Value_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Facilities_def_items_def_FacilityGroupName_def" />
      <object name="GetOrganisations_responses_default_def_value_def_items_def_Facilities_def_items_def">
        <property name="Id" type="integer" />
        <property name="Name" type="string" />
        <property name="Value" type="string" />
        <property name="FacilityGroupName" type="string" />
      </object>
      <array typeRef="GetOrganisations_responses_default_def_value_def_items_def_Facilities_def_items_def" name="GetOrganisations_responses_default_def_value_def_items_def_Facilities_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Staff_def_items_def_Title_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Staff_def_items_def_GivenName_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Staff_def_items_def_FamilyName_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Staff_def_items_def_Role_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Staff_def_items_def_Qualification_def" />
      <object name="GetOrganisations_responses_default_def_value_def_items_def_Staff_def_items_def">
        <property name="Title" type="string" />
        <property name="GivenName" type="string" />
        <property name="FamilyName" type="string" />
        <property name="Role" type="string" />
        <property name="Qualification" type="string" />
      </object>
      <array typeRef="GetOrganisations_responses_default_def_value_def_items_def_Staff_def_items_def" name="GetOrganisations_responses_default_def_value_def_items_def_Staff_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_GSD_def_Metrics_def_items_def_ElementTitle_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_GSD_def_Metrics_def_items_def_ElementText_def" />
      <integer name="GetOrganisations_responses_default_def_value_def_items_def_GSD_def_Metrics_def_items_def_ElementOrder_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_GSD_def_Metrics_def_items_def_MetricId_def" />
      <object name="GetOrganisations_responses_default_def_value_def_items_def_GSD_def_Metrics_def_items_def">
        <property name="ElementTitle" type="string" />
        <property name="ElementText" type="string" />
        <property name="ElementOrder" type="integer" />
        <property name="MetricId" type="string" />
      </object>
      <array typeRef="GetOrganisations_responses_default_def_value_def_items_def_GSD_def_Metrics_def_items_def" name="GetOrganisations_responses_default_def_value_def_items_def_GSD_def_Metrics_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_GSD_def_DataSupplier_def_items_def_ProvidedBy_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_GSD_def_DataSupplier_def_items_def_ProvidedByImage_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_GSD_def_DataSupplier_def_items_def_ProvidedByUrl_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_GSD_def_DataSupplier_def_items_def_ProvidedOn_def" />
      <object name="GetOrganisations_responses_default_def_value_def_items_def_GSD_def_DataSupplier_def_items_def">
        <property name="ProvidedBy" type="string" />
        <property name="ProvidedByImage" type="string" />
        <property name="ProvidedByUrl" type="string" />
        <property name="ProvidedOn" type="string" />
      </object>
      <array typeRef="GetOrganisations_responses_default_def_value_def_items_def_GSD_def_DataSupplier_def_items_def" name="GetOrganisations_responses_default_def_value_def_items_def_GSD_def_DataSupplier_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_GSD_def_GsdServices_def_items_def_ServiceId_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_GSD_def_GsdServices_def_items_def_ServiceName_def" />
      <object name="GetOrganisations_responses_default_def_value_def_items_def_GSD_def_GsdServices_def_items_def">
        <property name="ServiceId" type="string" />
        <property name="ServiceName" type="string" />
      </object>
      <array typeRef="GetOrganisations_responses_default_def_value_def_items_def_GSD_def_GsdServices_def_items_def" name="GetOrganisations_responses_default_def_value_def_items_def_GSD_def_GsdServices_def" />
      <object name="GetOrganisations_responses_default_def_value_def_items_def_GSD_def">
        <property name="Metrics" typeRef="GetOrganisations_responses_default_def_value_def_items_def_GSD_def_Metrics_def" />
        <property name="DataSupplier" typeRef="GetOrganisations_responses_default_def_value_def_items_def_GSD_def_DataSupplier_def" />
        <property name="GsdServices" typeRef="GetOrganisations_responses_default_def_value_def_items_def_GSD_def_GsdServices_def" />
      </object>
      <string name="GetOrganisations_responses_default_def_value_def_items_def_LastUpdatedDates_def_OpeningTimes_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_LastUpdatedDates_def_BankHolidayOpeningTimes_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_LastUpdatedDates_def_DentistsAcceptingPatients_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_LastUpdatedDates_def_Facilities_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_LastUpdatedDates_def_HospitalDepartment_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_LastUpdatedDates_def_Services_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_LastUpdatedDates_def_ContactDetails_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_LastUpdatedDates_def_AcceptingPatients_def" />
      <untypedObject name="GetOrganisations_responses_default_def_value_def_items_def_LastUpdatedDates_def_KeyValueData_def_items_def" />
      <array typeRef="GetOrganisations_responses_default_def_value_def_items_def_LastUpdatedDates_def_KeyValueData_def_items_def" name="GetOrganisations_responses_default_def_value_def_items_def_LastUpdatedDates_def_KeyValueData_def" />
      <object name="GetOrganisations_responses_default_def_value_def_items_def_LastUpdatedDates_def">
        <property name="OpeningTimes" type="string" />
        <property name="BankHolidayOpeningTimes" type="string" />
        <property name="DentistsAcceptingPatients" type="string" />
        <property name="Facilities" type="string" />
        <property name="HospitalDepartment" type="string" />
        <property name="Services" type="string" />
        <property name="ContactDetails" type="string" />
        <property name="AcceptingPatients" type="string" />
        <property name="KeyValueData" typeRef="GetOrganisations_responses_default_def_value_def_items_def_LastUpdatedDates_def_KeyValueData_def" />
      </object>
      <string name="GetOrganisations_responses_default_def_value_def_items_def_AcceptingPatients_def_GP_def" />
      <integer name="GetOrganisations_responses_default_def_value_def_items_def_AcceptingPatients_def_Dentist_def_items_def_Id_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_AcceptingPatients_def_Dentist_def_items_def_Name_def" />
      <boolean name="GetOrganisations_responses_default_def_value_def_items_def_AcceptingPatients_def_Dentist_def_items_def_AcceptingPatients_def" />
      <object name="GetOrganisations_responses_default_def_value_def_items_def_AcceptingPatients_def_Dentist_def_items_def">
        <property name="Id" type="integer" />
        <property name="Name" type="string" />
        <property name="AcceptingPatients" type="boolean" />
      </object>
      <array typeRef="GetOrganisations_responses_default_def_value_def_items_def_AcceptingPatients_def_Dentist_def_items_def" name="GetOrganisations_responses_default_def_value_def_items_def_AcceptingPatients_def_Dentist_def" />
      <object name="GetOrganisations_responses_default_def_value_def_items_def_AcceptingPatients_def">
        <property name="GP" type="string" />
        <property name="Dentist" typeRef="GetOrganisations_responses_default_def_value_def_items_def_AcceptingPatients_def_Dentist_def" />
      </object>
      <string name="GetOrganisations_responses_default_def_value_def_items_def_GPRegistration_def_RegistrationLink_def" />
      <boolean name="GetOrganisations_responses_default_def_value_def_items_def_GPRegistration_def_AcceptingOutOfArea_def" />
      <object name="GetOrganisations_responses_default_def_value_def_items_def_GPRegistration_def">
        <property name="RegistrationLink" type="string" />
        <property name="AcceptingOutOfArea" type="boolean" />
      </object>
      <string name="GetOrganisations_responses_default_def_value_def_items_def_CCG_def_ODSCode_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_CCG_def_OrganisationName_def" />
      <object name="GetOrganisations_responses_default_def_value_def_items_def_CCG_def">
        <property name="ODSCode" type="string" />
        <property name="OrganisationName" type="string" />
      </object>
      <untypedObject name="GetOrganisations_responses_default_def_value_def_items_def_RelatedIAPTCCGs_def_items_def" />
      <array typeRef="GetOrganisations_responses_default_def_value_def_items_def_RelatedIAPTCCGs_def_items_def" name="GetOrganisations_responses_default_def_value_def_items_def_RelatedIAPTCCGs_def" />
      <untypedObject name="GetOrganisations_responses_default_def_value_def_items_def_CCGLocalAuthority_def_items_def" />
      <array typeRef="GetOrganisations_responses_default_def_value_def_items_def_CCGLocalAuthority_def_items_def" name="GetOrganisations_responses_default_def_value_def_items_def_CCGLocalAuthority_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Trusts_def_items_def_ODSCode_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Trusts_def_items_def_OrganisationName_def" />
      <object name="GetOrganisations_responses_default_def_value_def_items_def_Trusts_def_items_def">
        <property name="ODSCode" type="string" />
        <property name="OrganisationName" type="string" />
      </object>
      <array typeRef="GetOrganisations_responses_default_def_value_def_items_def_Trusts_def_items_def" name="GetOrganisations_responses_default_def_value_def_items_def_Trusts_def" />
      <integer name="GetOrganisations_responses_default_def_value_def_items_def_Metrics_def_items_def_MetricID_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Metrics_def_items_def_MetricName_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Metrics_def_items_def_DisplayName_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Metrics_def_items_def_Description_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Metrics_def_items_def_Value_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Metrics_def_items_def_Value2_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Metrics_def_items_def_Value3_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Metrics_def_items_def_Text_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Metrics_def_items_def_LinkUrl_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Metrics_def_items_def_LinkText_def" />
      <integer name="GetOrganisations_responses_default_def_value_def_items_def_Metrics_def_items_def_MetricDisplayTypeID_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Metrics_def_items_def_MetricDisplayTypeName_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Metrics_def_items_def_HospitalSectorType_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Metrics_def_items_def_MetricText_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Metrics_def_items_def_DefaultText_def" />
      <boolean name="GetOrganisations_responses_default_def_value_def_items_def_Metrics_def_items_def_IsMetaMetric_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Metrics_def_items_def_BandingClassification_def" />
      <string name="GetOrganisations_responses_default_def_value_def_items_def_Metrics_def_items_def_BandingName_def" />
      <object name="GetOrganisations_responses_default_def_value_def_items_def_Metrics_def_items_def">
        <property name="MetricID" type="integer" />
        <property name="MetricName" type="string" />
        <property name="DisplayName" type="string" />
        <property name="Description" type="string" />
        <property name="Value" type="string" />
        <property name="Value2" type="string" />
        <property name="Value3" type="string" />
        <property name="Text" type="string" />
        <property name="LinkUrl" type="string" />
        <property name="LinkText" type="string" />
        <property name="MetricDisplayTypeID" type="integer" />
        <property name="MetricDisplayTypeName" type="string" />
        <property name="HospitalSectorType" type="string" />
        <property name="MetricText" type="string" />
        <property name="DefaultText" type="string" />
        <property name="IsMetaMetric" type="boolean" />
        <property name="BandingClassification" type="string" />
        <property name="BandingName" type="string" />
      </object>
      <array typeRef="GetOrganisations_responses_default_def_value_def_items_def_Metrics_def_items_def" name="GetOrganisations_responses_default_def_value_def_items_def_Metrics_def" />
      <object name="GetOrganisations_responses_default_def_value_def_items_def">
        <property name="@search.score" type="integer" />
        <property name="SearchKey" type="string" />
        <property name="ODSCode" type="string" />
        <property name="OrganisationName" type="string" />
        <property name="OrganisationTypeId" type="string" />
        <property name="OrganisationType" type="string" />
        <property name="OrganisationStatus" type="string" />
        <property name="SummaryText" type="string" />
        <property name="URL" type="string" />
        <property name="Address1" type="string" />
        <property name="Address2" type="string" />
        <property name="Address3" type="string" />
        <property name="City" type="string" />
        <property name="County" type="string" />
        <property name="Latitude" type="number" />
        <property name="Longitude" type="number" />
        <property name="Postcode" type="string" />
        <property name="Geocode" typeRef="GetOrganisations_responses_default_def_value_def_items_def_Geocode_def" />
        <property name="OrganisationSubType" type="string" />
        <property name="OrganisationAliases" typeRef="GetOrganisations_responses_default_def_value_def_items_def_OrganisationAliases_def" />
        <property name="ParentOrganisation" typeRef="GetOrganisations_responses_default_def_value_def_items_def_ParentOrganisation_def" />
        <property name="Services" typeRef="GetOrganisations_responses_default_def_value_def_items_def_Services_def" />
        <property name="OpeningTimes" typeRef="GetOrganisations_responses_default_def_value_def_items_def_OpeningTimes_def" />
        <property name="Contacts" typeRef="GetOrganisations_responses_default_def_value_def_items_def_Contacts_def" />
        <property name="Facilities" typeRef="GetOrganisations_responses_default_def_value_def_items_def_Facilities_def" />
        <property name="Staff" typeRef="GetOrganisations_responses_default_def_value_def_items_def_Staff_def" />
        <property name="GSD" typeRef="GetOrganisations_responses_default_def_value_def_items_def_GSD_def" />
        <property name="LastUpdatedDates" typeRef="GetOrganisations_responses_default_def_value_def_items_def_LastUpdatedDates_def" />
        <property name="AcceptingPatients" typeRef="GetOrganisations_responses_default_def_value_def_items_def_AcceptingPatients_def" />
        <property name="GPRegistration" typeRef="GetOrganisations_responses_default_def_value_def_items_def_GPRegistration_def" />
        <property name="CCG" typeRef="GetOrganisations_responses_default_def_value_def_items_def_CCG_def" />
        <property name="RelatedIAPTCCGs" typeRef="GetOrganisations_responses_default_def_value_def_items_def_RelatedIAPTCCGs_def" />
        <property name="CCGLocalAuthority" typeRef="GetOrganisations_responses_default_def_value_def_items_def_CCGLocalAuthority_def" />
        <property name="Trusts" typeRef="GetOrganisations_responses_default_def_value_def_items_def_Trusts_def" />
        <property name="Metrics" typeRef="GetOrganisations_responses_default_def_value_def_items_def_Metrics_def" />
      </object>
      <array typeRef="GetOrganisations_responses_default_def_value_def_items_def" name="GetOrganisations_responses_default_def_value_def" />
      <string name="GetOrganisations_responses_default_def__ux40_odata_nextLink_def" />
      <object name="GetOrganisations_responses_default_def">
        <property name="@odata.context" type="string" />
        <property name="@odata.count" type="integer" />
        <property name="value" typeRef="GetOrganisations_responses_default_def_value_def" />
        <property name="@odata.nextLink" type="string" />
      </object>
      <string name="PostOrganisationsPostCodePlace_param_body_def_search_def" />
      <string name="PostOrganisationsPostCodePlace_param_body_def_searchMode_def" />
      <string name="PostOrganisationsPostCodePlace_param_body_def_searchFields_def" />
      <string name="PostOrganisationsPostCodePlace_param_body_def_queryType_def" />
      <string name="PostOrganisationsPostCodePlace_param_body_def_select_def" />
      <string name="PostOrganisationsPostCodePlace_param_body_def_filter_def" />
      <string name="PostOrganisationsPostCodePlace_param_body_def_orderby_def" />
      <integer name="PostOrganisationsPostCodePlace_param_body_def_skip_def" />
      <integer name="PostOrganisationsPostCodePlace_param_body_def_top_def" />
      <boolean name="PostOrganisationsPostCodePlace_param_body_def_count_def" />
      <object name="PostOrganisationsPostCodePlace_param_body_def">
        <property name="search" type="string" />
        <property name="searchMode" type="string" />
        <property name="searchFields" type="string" />
        <property name="queryType" type="string" />
        <property name="select" type="string" />
        <property name="filter" type="string" />
        <property name="orderby" type="string" />
        <property name="skip" type="integer" />
        <property name="top" type="integer" />
        <property name="count" type="boolean" />
      </object>
      <integer name="PostOrganisationsPostCodePlace_responses_default_def__ux40_odata_count_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def__ux40_search_nextPageParameters_def_search_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def__ux40_search_nextPageParameters_def_searchMode_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def__ux40_search_nextPageParameters_def_searchFields_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def__ux40_search_nextPageParameters_def_queryType_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def__ux40_search_nextPageParameters_def_select_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def__ux40_search_nextPageParameters_def_filter_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def__ux40_search_nextPageParameters_def_orderby_def" />
      <integer name="PostOrganisationsPostCodePlace_responses_default_def__ux40_search_nextPageParameters_def_skip_def" />
      <object name="PostOrganisationsPostCodePlace_responses_default_def__ux40_search_nextPageParameters_def">
        <property name="search" type="string" />
        <property name="searchMode" type="string" />
        <property name="searchFields" type="string" />
        <property name="queryType" type="string" />
        <property name="select" type="string" />
        <property name="filter" type="string" />
        <property name="orderby" type="string" />
        <property name="skip" type="integer" />
      </object>
      <number name="PostOrganisationsPostCodePlace_responses_default_def_place_def_items_def_Latitude_def" />
      <number name="PostOrganisationsPostCodePlace_responses_default_def_place_def_items_def_Longitude_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_place_def_items_def_text_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_place_def_items_def_url_def" />
      <object name="PostOrganisationsPostCodePlace_responses_default_def_place_def_items_def">
        <property name="Latitude" type="number" />
        <property name="Longitude" type="number" />
        <property name="text" type="string" />
        <property name="url" type="string" />
      </object>
      <array typeRef="PostOrganisationsPostCodePlace_responses_default_def_place_def_items_def" name="PostOrganisationsPostCodePlace_responses_default_def_place_def" />
      <integer name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def__ux40_search_score_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_SearchKey_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_ODSCode_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_OrganisationName_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_OrganisationTypeId_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_OrganisationType_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_OrganisationStatus_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_SummaryText_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_URL_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Address1_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Address2_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Address3_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_City_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_County_def" />
      <number name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Latitude_def" />
      <number name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Longitude_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Postcode_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Geocode_def_type_def" />
      <number name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Geocode_def_coordinates_def_items_def" />
      <array type="number" name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Geocode_def_coordinates_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Geocode_def_crs_def_type_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Geocode_def_crs_def_properties_def_name_def" />
      <object name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Geocode_def_crs_def_properties_def">
        <property name="name" type="string" />
      </object>
      <object name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Geocode_def_crs_def">
        <property name="type" type="string" />
        <property name="properties" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Geocode_def_crs_def_properties_def" />
      </object>
      <object name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Geocode_def">
        <property name="type" type="string" />
        <property name="coordinates" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Geocode_def_coordinates_def" />
        <property name="crs" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Geocode_def_crs_def" />
      </object>
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_OrganisationSubType_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_OrganisationAliases_def_items_def_OrganisationAlias_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_OrganisationAliases_def_items_def_OrganisationAliasId_def" />
      <object name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_OrganisationAliases_def_items_def">
        <property name="OrganisationAlias" type="string" />
        <property name="OrganisationAliasId" type="string" />
      </object>
      <array typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_OrganisationAliases_def_items_def" name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_OrganisationAliases_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_ParentOrganisation_def_ODSCode_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_ParentOrganisation_def_OrganisationName_def" />
      <object name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_ParentOrganisation_def">
        <property name="ODSCode" type="string" />
        <property name="OrganisationName" type="string" />
      </object>
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_ServiceName_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_ServiceCode_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_ServiceDescription_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_Contacts_def_items_def_ContactType_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_Contacts_def_items_def_ContactAvailabilityType_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_Contacts_def_items_def_ContactMethodType_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_Contacts_def_items_def_ContactValue_def" />
      <object name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_Contacts_def_items_def">
        <property name="ContactType" type="string" />
        <property name="ContactAvailabilityType" type="string" />
        <property name="ContactMethodType" type="string" />
        <property name="ContactValue" type="string" />
      </object>
      <array typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_Contacts_def_items_def" name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_Contacts_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_ServiceProvider_def_ODSCode_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_ServiceProvider_def_OrganisationName_def" />
      <object name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_ServiceProvider_def">
        <property name="ODSCode" type="string" />
        <property name="OrganisationName" type="string" />
      </object>
      <untypedObject name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_Treatments_def_items_def" />
      <array typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_Treatments_def_items_def" name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_Treatments_def" />
      <untypedObject name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_OpeningTimes_def_items_def" />
      <array typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_OpeningTimes_def_items_def" name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_OpeningTimes_def" />
      <untypedObject name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_AgeRange_def_items_def" />
      <array typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_AgeRange_def_items_def" name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_AgeRange_def" />
      <untypedObject name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_Metrics_def_items_def" />
      <array typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_Metrics_def_items_def" name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_Metrics_def" />
      <untypedObject name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_KeyValueData_def_items_def" />
      <array typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_KeyValueData_def_items_def" name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_KeyValueData_def" />
      <object name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def">
        <property name="ServiceName" type="string" />
        <property name="ServiceCode" type="string" />
        <property name="ServiceDescription" type="string" />
        <property name="Contacts" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_Contacts_def" />
        <property name="ServiceProvider" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_ServiceProvider_def" />
        <property name="Treatments" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_Treatments_def" />
        <property name="OpeningTimes" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_OpeningTimes_def" />
        <property name="AgeRange" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_AgeRange_def" />
        <property name="Metrics" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_Metrics_def" />
        <property name="KeyValueData" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def_KeyValueData_def" />
      </object>
      <array typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def_items_def" name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_OpeningTimes_def_items_def_Weekday_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_OpeningTimes_def_items_def_OpeningTime_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_OpeningTimes_def_items_def_ClosingTime_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_OpeningTimes_def_items_def_Times_def" />
      <integer name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_OpeningTimes_def_items_def_OffsetOpeningTime_def" />
      <integer name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_OpeningTimes_def_items_def_OffsetClosingTime_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_OpeningTimes_def_items_def_OpeningTimeType_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_OpeningTimes_def_items_def_AdditionalOpeningDate_def" />
      <boolean name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_OpeningTimes_def_items_def_IsOpen_def" />
      <object name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_OpeningTimes_def_items_def">
        <property name="Weekday" type="string" />
        <property name="OpeningTime" type="string" />
        <property name="ClosingTime" type="string" />
        <property name="Times" type="string" />
        <property name="OffsetOpeningTime" type="integer" />
        <property name="OffsetClosingTime" type="integer" />
        <property name="OpeningTimeType" type="string" />
        <property name="AdditionalOpeningDate" type="string" />
        <property name="IsOpen" type="boolean" />
      </object>
      <array typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_OpeningTimes_def_items_def" name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_OpeningTimes_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Contacts_def_items_def_ContactType_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Contacts_def_items_def_ContactAvailabilityType_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Contacts_def_items_def_ContactMethodType_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Contacts_def_items_def_ContactValue_def" />
      <object name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Contacts_def_items_def">
        <property name="ContactType" type="string" />
        <property name="ContactAvailabilityType" type="string" />
        <property name="ContactMethodType" type="string" />
        <property name="ContactValue" type="string" />
      </object>
      <array typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Contacts_def_items_def" name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Contacts_def" />
      <integer name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Facilities_def_items_def_Id_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Facilities_def_items_def_Name_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Facilities_def_items_def_Value_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Facilities_def_items_def_FacilityGroupName_def" />
      <object name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Facilities_def_items_def">
        <property name="Id" type="integer" />
        <property name="Name" type="string" />
        <property name="Value" type="string" />
        <property name="FacilityGroupName" type="string" />
      </object>
      <array typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Facilities_def_items_def" name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Facilities_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Staff_def_items_def_Title_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Staff_def_items_def_GivenName_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Staff_def_items_def_FamilyName_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Staff_def_items_def_Role_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Staff_def_items_def_Qualification_def" />
      <object name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Staff_def_items_def">
        <property name="Title" type="string" />
        <property name="GivenName" type="string" />
        <property name="FamilyName" type="string" />
        <property name="Role" type="string" />
        <property name="Qualification" type="string" />
      </object>
      <array typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Staff_def_items_def" name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Staff_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GSD_def_Metrics_def_items_def_ElementTitle_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GSD_def_Metrics_def_items_def_ElementText_def" />
      <integer name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GSD_def_Metrics_def_items_def_ElementOrder_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GSD_def_Metrics_def_items_def_MetricId_def" />
      <object name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GSD_def_Metrics_def_items_def">
        <property name="ElementTitle" type="string" />
        <property name="ElementText" type="string" />
        <property name="ElementOrder" type="integer" />
        <property name="MetricId" type="string" />
      </object>
      <array typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GSD_def_Metrics_def_items_def" name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GSD_def_Metrics_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GSD_def_DataSupplier_def_items_def_ProvidedBy_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GSD_def_DataSupplier_def_items_def_ProvidedByImage_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GSD_def_DataSupplier_def_items_def_ProvidedByUrl_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GSD_def_DataSupplier_def_items_def_ProvidedOn_def" />
      <object name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GSD_def_DataSupplier_def_items_def">
        <property name="ProvidedBy" type="string" />
        <property name="ProvidedByImage" type="string" />
        <property name="ProvidedByUrl" type="string" />
        <property name="ProvidedOn" type="string" />
      </object>
      <array typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GSD_def_DataSupplier_def_items_def" name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GSD_def_DataSupplier_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GSD_def_GsdServices_def_items_def_ServiceId_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GSD_def_GsdServices_def_items_def_ServiceName_def" />
      <object name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GSD_def_GsdServices_def_items_def">
        <property name="ServiceId" type="string" />
        <property name="ServiceName" type="string" />
      </object>
      <array typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GSD_def_GsdServices_def_items_def" name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GSD_def_GsdServices_def" />
      <object name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GSD_def">
        <property name="Metrics" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GSD_def_Metrics_def" />
        <property name="DataSupplier" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GSD_def_DataSupplier_def" />
        <property name="GsdServices" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GSD_def_GsdServices_def" />
      </object>
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_LastUpdatedDates_def_OpeningTimes_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_LastUpdatedDates_def_BankHolidayOpeningTimes_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_LastUpdatedDates_def_DentistsAcceptingPatients_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_LastUpdatedDates_def_Facilities_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_LastUpdatedDates_def_HospitalDepartment_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_LastUpdatedDates_def_Services_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_LastUpdatedDates_def_ContactDetails_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_LastUpdatedDates_def_AcceptingPatients_def" />
      <untypedObject name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_LastUpdatedDates_def_KeyValueData_def_items_def" />
      <array typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_LastUpdatedDates_def_KeyValueData_def_items_def" name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_LastUpdatedDates_def_KeyValueData_def" />
      <object name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_LastUpdatedDates_def">
        <property name="OpeningTimes" type="string" />
        <property name="BankHolidayOpeningTimes" type="string" />
        <property name="DentistsAcceptingPatients" type="string" />
        <property name="Facilities" type="string" />
        <property name="HospitalDepartment" type="string" />
        <property name="Services" type="string" />
        <property name="ContactDetails" type="string" />
        <property name="AcceptingPatients" type="string" />
        <property name="KeyValueData" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_LastUpdatedDates_def_KeyValueData_def" />
      </object>
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_AcceptingPatients_def_GP_def" />
      <integer name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_AcceptingPatients_def_Dentist_def_items_def_Id_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_AcceptingPatients_def_Dentist_def_items_def_Name_def" />
      <boolean name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_AcceptingPatients_def_Dentist_def_items_def_AcceptingPatients_def" />
      <object name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_AcceptingPatients_def_Dentist_def_items_def">
        <property name="Id" type="integer" />
        <property name="Name" type="string" />
        <property name="AcceptingPatients" type="boolean" />
      </object>
      <array typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_AcceptingPatients_def_Dentist_def_items_def" name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_AcceptingPatients_def_Dentist_def" />
      <object name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_AcceptingPatients_def">
        <property name="GP" type="string" />
        <property name="Dentist" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_AcceptingPatients_def_Dentist_def" />
      </object>
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GPRegistration_def_RegistrationLink_def" />
      <boolean name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GPRegistration_def_AcceptingOutOfArea_def" />
      <object name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GPRegistration_def">
        <property name="RegistrationLink" type="string" />
        <property name="AcceptingOutOfArea" type="boolean" />
      </object>
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_CCG_def_ODSCode_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_CCG_def_OrganisationName_def" />
      <object name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_CCG_def">
        <property name="ODSCode" type="string" />
        <property name="OrganisationName" type="string" />
      </object>
      <untypedObject name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_RelatedIAPTCCGs_def_items_def" />
      <array typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_RelatedIAPTCCGs_def_items_def" name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_RelatedIAPTCCGs_def" />
      <untypedObject name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_CCGLocalAuthority_def_items_def" />
      <array typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_CCGLocalAuthority_def_items_def" name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_CCGLocalAuthority_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Trusts_def_items_def_ODSCode_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Trusts_def_items_def_OrganisationName_def" />
      <object name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Trusts_def_items_def">
        <property name="ODSCode" type="string" />
        <property name="OrganisationName" type="string" />
      </object>
      <array typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Trusts_def_items_def" name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Trusts_def" />
      <integer name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Metrics_def_items_def_MetricID_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Metrics_def_items_def_MetricName_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Metrics_def_items_def_DisplayName_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Metrics_def_items_def_Description_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Metrics_def_items_def_Value_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Metrics_def_items_def_Value2_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Metrics_def_items_def_Value3_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Metrics_def_items_def_Text_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Metrics_def_items_def_LinkUrl_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Metrics_def_items_def_LinkText_def" />
      <integer name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Metrics_def_items_def_MetricDisplayTypeID_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Metrics_def_items_def_MetricDisplayTypeName_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Metrics_def_items_def_HospitalSectorType_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Metrics_def_items_def_MetricText_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Metrics_def_items_def_DefaultText_def" />
      <boolean name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Metrics_def_items_def_IsMetaMetric_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Metrics_def_items_def_BandingClassification_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Metrics_def_items_def_BandingName_def" />
      <object name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Metrics_def_items_def">
        <property name="MetricID" type="integer" />
        <property name="MetricName" type="string" />
        <property name="DisplayName" type="string" />
        <property name="Description" type="string" />
        <property name="Value" type="string" />
        <property name="Value2" type="string" />
        <property name="Value3" type="string" />
        <property name="Text" type="string" />
        <property name="LinkUrl" type="string" />
        <property name="LinkText" type="string" />
        <property name="MetricDisplayTypeID" type="integer" />
        <property name="MetricDisplayTypeName" type="string" />
        <property name="HospitalSectorType" type="string" />
        <property name="MetricText" type="string" />
        <property name="DefaultText" type="string" />
        <property name="IsMetaMetric" type="boolean" />
        <property name="BandingClassification" type="string" />
        <property name="BandingName" type="string" />
      </object>
      <array typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Metrics_def_items_def" name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Metrics_def" />
      <number name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_distanceMiles_def" />
      <object name="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def">
        <property name="@search.score" type="integer" />
        <property name="SearchKey" type="string" />
        <property name="ODSCode" type="string" />
        <property name="OrganisationName" type="string" />
        <property name="OrganisationTypeId" type="string" />
        <property name="OrganisationType" type="string" />
        <property name="OrganisationStatus" type="string" />
        <property name="SummaryText" type="string" />
        <property name="URL" type="string" />
        <property name="Address1" type="string" />
        <property name="Address2" type="string" />
        <property name="Address3" type="string" />
        <property name="City" type="string" />
        <property name="County" type="string" />
        <property name="Latitude" type="number" />
        <property name="Longitude" type="number" />
        <property name="Postcode" type="string" />
        <property name="Geocode" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Geocode_def" />
        <property name="OrganisationSubType" type="string" />
        <property name="OrganisationAliases" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_OrganisationAliases_def" />
        <property name="ParentOrganisation" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_ParentOrganisation_def" />
        <property name="Services" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Services_def" />
        <property name="OpeningTimes" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_OpeningTimes_def" />
        <property name="Contacts" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Contacts_def" />
        <property name="Facilities" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Facilities_def" />
        <property name="Staff" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Staff_def" />
        <property name="GSD" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GSD_def" />
        <property name="LastUpdatedDates" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_LastUpdatedDates_def" />
        <property name="AcceptingPatients" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_AcceptingPatients_def" />
        <property name="GPRegistration" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_GPRegistration_def" />
        <property name="CCG" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_CCG_def" />
        <property name="RelatedIAPTCCGs" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_RelatedIAPTCCGs_def" />
        <property name="CCGLocalAuthority" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_CCGLocalAuthority_def" />
        <property name="Trusts" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Trusts_def" />
        <property name="Metrics" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def_Metrics_def" />
        <property name="distanceMiles" type="number" />
      </object>
      <array typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def_items_def" name="PostOrganisationsPostCodePlace_responses_default_def_value_def" />
      <string name="PostOrganisationsPostCodePlace_responses_default_def__ux40_odata_nextLink_def" />
      <object name="PostOrganisationsPostCodePlace_responses_default_def">
        <property name="@odata.count" type="integer" />
        <property name="@search.nextPageParameters" typeRef="PostOrganisationsPostCodePlace_responses_default_def__ux40_search_nextPageParameters_def" />
        <property name="place" typeRef="PostOrganisationsPostCodePlace_responses_default_def_place_def" />
        <property name="value" typeRef="PostOrganisationsPostCodePlace_responses_default_def_value_def" />
        <property name="@odata.nextLink" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/nhs-5fdohs-5fapi-5fcd50f11fb408e582-5f2a291c2c40cf4dbc">
    <resource path="/{connectionId}/organisationtypes">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetOrganisationTypes" actionName="GetOrganisationTypes" siena:isDeprecated="false">
        <doc title="Search for organisation types&#xA;Use this endpoint to get, filter or search the organisation types." />
        <request>
          <param style="query" name="api-version" type="xs:long" required="true" default="1">
            <doc title="The API version number must be supplied as a query parameter. This must be 1." />
          </param>
          <param style="query" name="search" type="xs:string">
            <doc title="The text to search for. All searchable fields are searched by default unless searchFields is specified.  When searching searchable fields, the search text itself is tokenized, so multiple terms can be separated by white space, for example search=hello world.  To match any term, use * which can be useful for boolean filter queries. Omitting this parameter has the same effect as setting it to *." />
          </param>
          <param style="query" name="searchMode" type="xs:string" default="any">
            <doc title="Defaults to any. Specifies whether any or all of the search terms must be matched in order to count the document as a match." />
            <option value="any" />
            <option value="all" />
          </param>
          <param style="query" name="searchFields" type="xs:string">
            <doc title="A comma-separated list of field names to search for the specified text. This field works in conjunction with the search field.  Example search field - searchFields=ODSCode  Omitting this parameter has the same effect as setting it to *." />
          </param>
          <param style="query" name="queryType" type="xs:string" default="simple">
            <doc title="When set to simple, search text is interpreted using a simple query language that allows for symbols such as +, * and &quot;&quot;.  When the query type is set to full, search text is interpreted using the Lucene query language which allows field-specific and weighted searches.  The following example is a search over independent terms, with a requirement that all matching documents include pool.  For more information, see Simple query syntax in Azure Cognitive Search.  Example using simple query type:  queryType=simple  search=budget hotel +pool  searchMode=all  The next example shows in-field search and term boosting. It looks for hotels where the category field contains the term budget.  Any documents containing the phrase recently renovated are ranked higher as a result of the term boost value.  For more information, see Lucene query syntax in Azure Cognitive Search.  Example using full query type:  queryType=full  search=category:budget AND \'recently renovated\'^3  searchMode=all  Allowed values: simple, full" />
            <option value="simple" />
            <option value="full" />
          </param>
          <param style="query" name="$skip" type="xs:long">
            <doc title="The number of search results to skip. For example, $skip:25 returns the entries after the first 25 entries in the search results." />
          </param>
          <param style="query" name="$top" type="xs:long" default="50">
            <doc title="The number of search results to retrieve. The default is 50." />
          </param>
          <param style="query" name="$count" type="xs:boolean" default="false">
            <doc title="Optional, defaults to false. Specifies whether to fetch the total count of results.  This is the count of all documents that match the search and $filter parameters, ignoring $top and $skip.  Setting this value to true may have a performance impact. The count returned is an approximation.  If youd like to get only the count without any documents, you can use $top=0." />
          </param>
          <param style="query" name="$orderBy" type="xs:string">
            <doc title="A list of comma-separated expressions to sort the results by. Each expression can be either a field name or a call to the geo.distance() function.  Each expression can be followed by asc to indicate ascending, and desc to indicate descending. The default is ascending order.  This $orderBy routine orders the results by the distance from the geography point included in the expression.  The geography point can be a position from where you are and the results are ordered by how local they are.  For more information, see Simple query syntax in Azure Cognitive Search.  Example: $orderby=geo.distance(Geocode, geography'POINT(-0.76444095373153675 52.000820159912109)')" />
          </param>
          <param style="query" name="$select" type="xs:string">
            <doc title="A list of comma-separated fields to include in the result set.  If unspecified or set to *, all fields marked as retrievable in the schema are included in the projection.  Example: $select=ODSCode,OrganisationName,Contacts,Address1,Address2,Address3,City,Postcode,OrganisationSubType" />
          </param>
          <param style="query" name="$filter" type="xs:string">
            <doc title="A structured search expression in standard OData syntax.  The $filter parameter specifies inclusion or exclusion criteria for returning matches in search results.  For more information on using the $filter, see OData $filter syntax in Azure Cognitive Search.  Examples:  Filter results by pharmacies that are EPS-enabled and classed as 'community', that is, ServiceCode is EPS0001 and OrganisationTypeID is PHA and SubType is Community:  $filter=Services / any (x: x/ServiceCode eq 'EPS0001' ) and OrganisationTypeId eq 'PHA' and OrganisationSubType eq 'Community'  Filter results that match a postcode, that is Postcode field is NG16:  $filter=search.ismatch('NG16', 'Postcode')  Filter results by Postcode is CW9 and OrganisationTypeId is a dentist:  $filter=search.ismatch('CW9', 'Postcode') and OrganisationTypeId eq 'DEN'  For details on organisation types and service codes, see organisation and service codes." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetOrganisationTypes_responses_default_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetOrganisations" actionName="GetOrganisations" siena:isDeprecated="false">
        <doc title="Search for organisations&#xA;Use this endpoint to find information about services provided by NHS organisations.  For more information on how to use search identifiers with this endpoint, see DoHS API guide to search identifiers and service codes." />
        <request>
          <param style="query" name="api-version" type="xs:long" required="true" default="2">
            <doc title="The API version number can be supplied as a query parameter." />
          </param>
          <param style="query" name="search" type="xs:string">
            <doc title="The text to search for. All searchable fields are searched by default unless searchFields is specified.  When searching searchable fields, the search text itself is tokenized, so multiple terms can be separated by white space, for example search=hello world.  To match any term, use * which can be useful for boolean filter queries. Omitting this parameter has the same effect as setting it to *." />
          </param>
          <param style="query" name="searchMode" type="xs:string" default="any">
            <doc title="Defaults to any. Specifies whether any or all of the search terms must be matched in order to count the document as a match." />
            <option value="any" />
            <option value="all" />
          </param>
          <param style="query" name="searchFields" type="xs:string">
            <doc title="A comma-separated list of field names to search for the specified text. This field works in conjunction with the search field.  Example search field: searchFields=ODSCode" />
          </param>
          <param style="query" name="queryType" type="xs:string" default="simple">
            <doc title="When set to simple, search text is interpreted using a simple query language that allows for symbols such as +, * and &quot;&quot;.  When the query type is set to full, search text is interpreted using the Lucene query language which allows field-specific and weighted searches.  The following example is a search over independent terms, with a requirement that all matching documents include pool.  For more information, see Simple query syntax in Azure Cognitive Search.  Example using simple query type:  queryType=simple  search=budget hotel +pool  searchMode=all  This particular example shows in-field search and term boosting. It looks for hotels where the category field contains the term budget.  Any documents containing the phrase recently renovated are ranked higher as a result of the term boost value.  For more information, see Lucene query syntax in Azure Cognitive Search.  Example using full query type:  queryType=full  search=category:budget AND \'recently renovated\'^3  searchMode=all" />
            <option value="simple" />
            <option value="full" />
          </param>
          <param style="query" name="$skip" type="xs:long">
            <doc title="The number of search results to skip. For example, $skip:25 returns the entries after the first 25 entries in the search results." />
          </param>
          <param style="query" name="$top" type="xs:long" default="50">
            <doc title="The number of search results to retrieve. The default is 50." />
          </param>
          <param style="query" name="$count" type="xs:boolean" default="false">
            <doc title="Optional, defaults to false. Specifies whether to fetch the total count of results.  This is the count of all documents that match the search and $filter parameters, ignoring $top and $skip.  Setting this value to true may have a performance impact. The count returned is an approximation.  If youd like to get only the count without any documents, you can use $top=0." />
          </param>
          <param style="query" name="$orderBy" type="xs:string">
            <doc title="A list of comma-separated expressions to sort the results by. Each expression can be either a field name or a call to the geo.distance() function.  Each expression can be followed by asc to indicate ascending, and desc to indicate descending. The default is ascending order.  This $orderBy routine orders the results by the distance from the geography point included in the expression.  The geography point can be a position from where you are and the results are ordered by how local the results are.  For more information, see Simple query syntax in Azure Cognitive Search.  Example: $orderby=geo.distance(Geocode, geography'POINT(-0.76444095373153675 52.000820159912109)')" />
          </param>
          <param style="query" name="$select" type="xs:string">
            <doc title="A list of comma-separated fields to include in the result set.  If unspecified or set to *, all fields marked as retrievable in the schema are included in the projection.  Example: $select=ODSCode,OrganisationName,Contacts,Address1,Address2,Address3,City,Postcode,OrganisationSubType" />
          </param>
          <param style="query" name="$filter" type="xs:string">
            <doc title="A structured search expression in standard OData syntax.  The $filter parameter specifies inclusion or exclusion criteria for returning matches in search results.  For more information on using the $filter, see OData $filter syntax in Azure Cognitive Search.  Examples:  Filter results by Pharmacies that are EPS-enabled and classed as 'Community', that is, ServiceCode is EPS0001, Organisation Type is PHA and Sub Type is Community:  $filter=Services / any (x: x/ServiceCode eq 'EPS0001' ) and OrganisationTypeId eq 'PHA' and OrganisationSubType eq 'Community'  Filter results that match our postcode, that is Postcode field is NG16:  $filter=search.ismatch('NG16', 'Postcode')  Filter results by Postcode is CW9 and `OrganisationTypeId&quot; is a dentist:  $filter=search.ismatch('CW9', 'Postcode') and OrganisationTypeId eq 'DEN'  For details on organisation types and service codes, see organisation and service codes." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetOrganisations_responses_default_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/search-postcode-or-place">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="PostOrganisationsPostCodePlace" actionName="PostOrganisationsPostCodePlace" siena:isDeprecated="false">
        <doc title="Search for organisations by postcode or place&#xA;Use this endpoint to search for information about services provided by NHS organisations, listed in the service search on the NHS website, filtered by postcode or place name." />
        <request>
          <param style="query" name="api-version" type="xs:long" required="true" default="2">
            <doc title="Specify the version of the API. MUST be 2." />
          </param>
          <param style="query" name="search" type="xs:string">
            <doc title="Search query term.  When searching searchable fields, the search text itself is tokenized, so multiple terms can be separated by white space, for example search=hello world.  To match any term, use *. Omitting this parameter has the same effect as setting it to *." />
          </param>
          <param style="query" name="latitude" type="xs:double">
            <doc title="The latitude parameter for geospacial searches." />
          </param>
          <param style="query" name="longitude" type="xs:double">
            <doc title="The longitude parameter for geospacial searches." />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="search" path="/search" type="xs:string">
              <doc title="search" />
            </param>
            <param style="plain" name="searchMode" path="/searchMode" type="xs:string">
              <doc title="searchMode" />
              <option value="any" />
              <option value="all" />
            </param>
            <param style="plain" name="searchFields" path="/searchFields" type="xs:string">
              <doc title="searchFields" />
            </param>
            <param style="plain" name="queryType" path="/queryType" type="xs:string">
              <doc title="queryType" />
              <option value="simple" />
              <option value="full" />
            </param>
            <param style="plain" name="select" path="/select" type="xs:string">
              <doc title="select" />
            </param>
            <param style="plain" name="filter" path="/filter" type="xs:string">
              <doc title="filter" />
            </param>
            <param style="plain" name="orderby" path="/orderby" type="xs:string">
              <doc title="orderby" />
            </param>
            <param style="plain" name="skip" path="/skip" type="xs:int">
              <doc title="skip" />
            </param>
            <param style="plain" name="top" path="/top" type="xs:int">
              <doc title="top" />
            </param>
            <param style="plain" name="count" path="/count" type="xs:boolean">
              <doc title="count" />
              <option value="true" />
              <option value="false" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:PostOrganisationsPostCodePlace_responses_default_def" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_nhs-5fdohs-5fapi-5fcd50f11fb408e582-5f2a291c2c40cf4dbc" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>